body {
    background-color: skyblue;
    display: inline;
}
div{
    display: inline-block;
}

.red {
background-color: red;
border : 2px solid black;
margin: 20px;
padding: 50px;
border-radius: 10px;
}

.yellow{
background-color: yellow;
border: 2px solid black;
margin: 20px;
margin-left: 30px;
padding: 50px;
border-radius: 10px;
}